In [10]:
import pandas as pd

In [11]:
df = pd.read_csv("project-sunroof-postal_code-09082017.csv")
df.head()

,region_name,state_name,lat_max,lat_min,lng_max,lng_min,lat_avg,lng_avg,yearly_sunlight_kwh_kw_threshold_avg,count_qualified,...,yearly_sunlight_kwh_n,yearly_sunlight_kwh_s,yearly_sunlight_kwh_e,yearly_sunlight_kwh_w,yearly_sunlight_kwh_f,yearly_sunlight_kwh_median,yearly_sunlight_kwh_total,install_size_kw_buckets_json,carbon_offset_metric_tons,existing_installs_count
0,NaN,NaN,32.542257,32.542257,-117.030078,-117.030078,32.542257,-117.030078,1304.75,0,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,NaN,NaN,NaN,0.000000,0
1,1001.0,Massachusetts,42.099647,42.031153,-72.585478,-72.661521,42.067573,-72.623099,969.85,43,...,1.277903e+04,1.857622e+05,9.499651e+04,6.407655e+04,9.946072e+04,5866.558057,4.570750e+05,"[[0,22],[5,10],[10,6],[15,1],[20,1],[35,2],[55...",197.909043,0
2,1013.0,Massachusetts,42.197571,42.127819,-72.585709,-72.626135,42.162403,-72.607630,969.85,4548,...,1.403366e+06,1.668511e+07,8.920993e+06,7.583437e+06,2.689872e+07,6425.033374,6.149163e+07,"[[0,1847],[5,1763],[10,489],[15,150],[20,66],[...",26625.281247,10
3,1020.0,Massachusetts,42.218603,42.139015,-72.514267,-72.608908,42.176097,-72.574750,969.85,6310,...,2.884564e+06,2.185357e+07,1.561708e+07,1.473892e+07,5.168227e+07,6849.003143,1.067764e+08,"[[0,2291],[5,2435],[10,842],[15,292],[20,111],...",46233.148051,15
4,1022.0,Massachusetts,42.213156,42.178030,-72.530488,-72.575590,42.194646,-72.558203,969.85,638,...,2.246585e+06,5.434798e+06,4.445158e+06,3.264328e+06,3.271278e+07,12660.039972,4.810365e+07,"[[0,142],[5,145],[10,102],[15,68],[20,24],[25,...",20828.412212,2

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10621 entries, 0 to 10620
Data columns (total 31 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   region_name                           10620 non-null  float64
 1   state_name                            10620 non-null  object
 2   lat_max                               10621 non-null  float64
 3   lat_min                               10621 non-null  float64
 4   lng_max                               10621 non-null  float64
 5   lng_min                               10621 non-null  float64
 6   lat_avg                               10621 non-null  float64
 7   lng_avg                               10621 non-null  float64
 8   yearly_sunlight_kwh_kw_threshold_avg  10621 non-null  float64
 9   count_qualified                       10621 non-null  int64
 10  percent_covered                       10621 non-null  float64
 11  percent_qualified                     10621 non-null  float64
 12  number_of_panels_n                    10621 non-null  int64
 13  number_of_panels_s                    10621 non-null  int64
 14  number_of_panels_e                    10621 non-null  int64
 15  number_of_panels_w                    10621 non-null  int64
 16  number_of_panels_f                    10621 non-null  int64
 17  number_of_panels_median               10585 non-null  float64
 18  number_of_panels_total                10585 non-null  float64
 19  kw_median                             10585 non-null  float64
 20  kw_total                              10585 non-null  float64
 21  yearly_sunlight_kwh_n                 10621 non-null  float64
 22  yearly_sunlight_kwh_s                 10621 non-null  float64
 23  yearly_sunlight_kwh_e                 10621 non-null  float64
 24  yearly_sunlight_kwh_w                 10621 non-null  float64
 25  yearly_sunlight_kwh_f                 10621 non-null  float64
 26  yearly_sunlight_kwh_median            10585 non-null  float64
 27  yearly_sunlight_kwh_total             10585 non-null  float64
 28  install_size_kw_buckets_json          10585 non-null  object
 29  carbon_offset_metric_tons             10621 non-null  float64
 30  existing_installs_count               10621 non-null  int64
dtypes: float64(22), int64(7), object(2)
memory usage: 2.5+ MB

In [19]:
# List of columns to drop
columns_to_drop = [
    "yearly_sunlight_kwh_median",
    "yearly_sunlight_kwh_total",
    "install_size_kw_buckets_json",
    "carbon_offset_metric_tons",
    "carbon_offset_metric_tons",
    "number_of_panels_median",
    "number_of_panels_total",
    "kw_median",
    "kw_total"
]

# Remove leading and trailing whitespaces from column names
columns_to_drop_stripped = [column.strip() for column in columns_to_drop]

# Drop columns from the DataFrame
clean_zip_data = df.drop(columns=columns_to_drop_stripped)
clean_zip_data.head()

,region_name,state_name,lat_max,lat_min,lng_max,lng_min,lat_avg,lng_avg,yearly_sunlight_kwh_kw_threshold_avg,count_qualified,...,number_of_panels_s,number_of_panels_e,number_of_panels_w,number_of_panels_f,yearly_sunlight_kwh_n,yearly_sunlight_kwh_s,yearly_sunlight_kwh_e,yearly_sunlight_kwh_w,yearly_sunlight_kwh_f,existing_installs_count
0,NaN,NaN,32.542257,32.542257,-117.030078,-117.030078,32.542257,-117.030078,1304.75,0,...,0,0,0,0,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0
1,1001.0,Massachusetts,42.099647,42.031153,-72.585478,-72.661521,42.067573,-72.623099,969.85,43,...,605,338,246,347,1.277903e+04,1.857622e+05,9.499651e+04,6.407655e+04,9.946072e+04,0
2,1013.0,Massachusetts,42.197571,42.127819,-72.585709,-72.626135,42.162403,-72.607630,969.85,4548,...,55947,32488,28411,93830,1.403366e+06,1.668511e+07,8.920993e+06,7.583437e+06,2.689872e+07,10
3,1020.0,Massachusetts,42.218603,42.139015,-72.514267,-72.608908,42.176097,-72.574750,969.85,6310,...,74401,57952,55102,180367,2.884564e+06,2.185357e+07,1.561708e+07,1.473892e+07,5.168227e+07,15
4,1022.0,Massachusetts,42.213156,42.178030,-72.530488,-72.575590,42.194646,-72.558203,969.85,638,...,17922,15504,12226,113058,2.246585e+06,5.434798e+06,4.445158e+06,3.264328e+06,3.271278e+07,2

In [20]:
clean_zip_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10621 entries, 0 to 10620
Data columns (total 23 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   region_name                           10620 non-null  float64
 1   state_name                            10620 non-null  object
 2   lat_max                               10621 non-null  float64
 3   lat_min                               10621 non-null  float64
 4   lng_max                               10621 non-null  float64
 5   lng_min                               10621 non-null  float64
 6   lat_avg                               10621 non-null  float64
 7   lng_avg                               10621 non-null  float64
 8   yearly_sunlight_kwh_kw_threshold_avg  10621 non-null  float64
 9   count_qualified                       10621 non-null  int64
 10  percent_covered                       10621 non-null  float64
 11  percent_qualified                     10621 non-null  float64
 12  number_of_panels_n                    10621 non-null  int64
 13  number_of_panels_s                    10621 non-null  int64
 14  number_of_panels_e                    10621 non-null  int64
 15  number_of_panels_w                    10621 non-null  int64
 16  number_of_panels_f                    10621 non-null  int64
 17  yearly_sunlight_kwh_n                 10621 non-null  float64
 18  yearly_sunlight_kwh_s                 10621 non-null  float64
 19  yearly_sunlight_kwh_e                 10621 non-null  float64
 20  yearly_sunlight_kwh_w                 10621 non-null  float64
 21  yearly_sunlight_kwh_f                 10621 non-null  float64
 22  existing_installs_count               10621 non-null  int64
dtypes: float64(15), int64(7), object(1)
memory usage: 1.9+ MB

In [21]:
clean_zip_data.drop(index=0, inplace=True)
clean_zip_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10620 entries, 1 to 10620
Data columns (total 23 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   region_name                           10620 non-null  float64
 1   state_name                            10620 non-null  object
 2   lat_max                               10620 non-null  float64
 3   lat_min                               10620 non-null  float64
 4   lng_max                               10620 non-null  float64
 5   lng_min                               10620 non-null  float64
 6   lat_avg                               10620 non-null  float64
 7   lng_avg                               10620 non-null  float64
 8   yearly_sunlight_kwh_kw_threshold_avg  10620 non-null  float64
 9   count_qualified                       10620 non-null  int64
 10  percent_covered                       10620 non-null  float64
 11  percent_qualified                     10620 non-null  float64
 12  number_of_panels_n                    10620 non-null  int64
 13  number_of_panels_s                    10620 non-null  int64
 14  number_of_panels_e                    10620 non-null  int64
 15  number_of_panels_w                    10620 non-null  int64
 16  number_of_panels_f                    10620 non-null  int64
 17  yearly_sunlight_kwh_n                 10620 non-null  float64
 18  yearly_sunlight_kwh_s                 10620 non-null  float64
 19  yearly_sunlight_kwh_e                 10620 non-null  float64
 20  yearly_sunlight_kwh_w                 10620 non-null  float64
 21  yearly_sunlight_kwh_f                 10620 non-null  float64
 22  existing_installs_count               10620 non-null  int64
dtypes: float64(15), int64(7), object(1)
memory usage: 1.9+ MB

In [22]:
# Save the DataFrame to a CSV file
clean_zip_data.to_csv('clean_zip_data.csv', index=False)